body {
  background-color: #fafafa;

}
  /*--navbar--*/
.navbar {
  height: auto;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px;
}

.navbar-logo {
  margin-top: 0;
  height: 50px;
  width: auto;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar ul a {
  font-family: 'Nanum Pen Script', cursive;
  text-decoration: none;
  font-size: 25px;
  color: #678b99;
  background-color: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
  background-color: #fbfbfb;
  cursor: pointer;
}


/*--banner--*/
.banner {
  height: 600px;
  background-image: url(../images/JumbotronImage1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  position:relative;
}

.banner-content {
  margin-top: 150px;
}

.banner-header {
  font-family: 'Shadows Into Light', cursive;
  font-size: 100px;
  text-shadow: 2px 2px #000;
  color: #fbfbfb;
}

.banner-slogan {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  text-shadow: 2px 2px #000;
  color: #fbfbfb;
}

.banner-btn {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 18px;
  color: #678b99;
  background-color: #fbfbfb;
}

/*--pitcher--*/
.pitcher-content {
  height: auto;
}

.pitcher-text {
  font-family: 'Nunito', sans-serif;
}

.pitcher-uni {
  background-color: #678b99;
  width: 30%;
  margin-left: 29px;
}

.pitcher-meds {
  background-color: #a3c686;
  width: 30%;
  margin-left: 29px;
}

.pitcher-img {
  width: 300px;
  height: auto;
}

.pitcher-acc {
  background-color: #ffd96b;
  width: 30%;
  margin-left: 29px;
}

/*--carousel--*/
.product-content {
  height: 700px;
}

.product-slider {
  height: auto;
}

.product-sample {
  height: auto;
}

.carousel .slide img {
  margin-top: 50px;
  margin-bottom: -50px;
  max-height: 800px;
  max-width: 400px;
}

.product-img {
  width: auto;
  height: 150px;
}
/*--shop--*/
.shop-content {
  height: auto;
  background-image: url(../images/JumbotronImage5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  position:relative;
}

.shop-address {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
}
/*--contactus--*/
.contact-content {
  height: auto;
}

/*--footer--*/
.footer {
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #444;
  display: block;
}

.footer-content {
  color: white;
}

.footer-logo {
  height: auto;
  width: 150px;
}

.footer-division {
  padding-top: 20px;
  padding-left: 50px;

}
/*--other--*/

.division-header {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 72px;
  font-weight: 600;
  color: #e2e2e2;
  text-shadow:
   -1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #555,
     1px 1px 0 #555;
}

.sub-header {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.icons {
  display: inline-block;
  font-size: 35px;
  color: #ffC977;
  vertical-align: middle;
}

.icons-text {
  display: inline-block;
  vertical-align: middle;
}

.inline {
  display: inline;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
